body{
  background-image: url("../images/3.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
}
.triangle-page{
  width: 390px;
  margin: auto;
  text-align: center;
  border-style: groove;
  font-size: 20;
  border-top-style: groove;
}

.form{
  position: relative;
  z-index: 1;
  background: #ffffff
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
h1{
  text-align: center;
  text-transform: capitalize;

}
.form input{
  font-family: sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: auto;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}
.form button{
  shape-outside: padding-box;
}
.header {
  text-align: center;
  background-color: brown;
  margin: auto;
  height: auto;
  width: 400px;
  text-shadow: 0.5px 0.3px yellow;
  color: white;


}
p{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: red;
  size: 25;
}
#A{
  text-transform: capitalize;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;

}
#B{
  text-transform: capitalize;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;

}
#C{
  text-transform: capitalize;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;

}
img{
  float: left;

}
